body {
    font-family: sans-serif;
}

header {
    background-color: red;
    padding: 15px;
    border-radius: 20px;
}

h1 {
    color: purple;
}

footer{
    color: green;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    border: 3px solid black;
    border-radius: 10px;
    background-color: black;
}
.popular {
    background-color: white;
    color: navy;
}

p .class {
    border-radius: 10px;
}
